.gallery {
	background: url('dot.jpeg');
	margin: 0;
	background-size:1500px;
	height: 800px;
}

.jump{
	align:center;
	padding-top: 200px;
	opacity: 0.8;
	color: #2E3F61;
	font-family: Roboto;
	font-weight: 900;
	font-size: 25px;
	padding-left: 115px;
}

#About-contact {
	background-color: #2E3F61;
}

.card-img-top {
	width: 80%;
}
